@define-color bg #2a2a2a;
@define-color hover #121212;
@define-color text #ffffff;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    transition: all 0.2s ease;
}

.modules-left > widget:first-child > *, .modules-right > widget:first-child > *, .modules-center > widget:first-child > * {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modules-left > widget:last-child > *, .modules-right > widget:last-child > *, .modules-center > widget:last-child > * {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#custom-power {
    background-color: @bg;
    padding: 0 20px;
    /* border-radius: 10px; */
}

#custom-power:hover {
    color: red;
    background-color: @hover;
}

window#waybar {
    background-color: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 5px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
}

window#waybar.termite {
    background-color: @bg;
}

window#waybar.chromium {
    background-color: @bg;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

#workspaces button {
    padding: 5px;
    background-color: transparent;
    color: @text;
    border-radius: 0;
}

#bluetooth:hover, #network:hover, #clock:hover, #workspaces button:hover, #pulseaudio:hover {
    background-color: @hover;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.active {
    opacity: 1;
}

/* #workspaces button.urgent {
    background-color: #eb4d4b;
} */

#mode {
    background-color: @bg;
    box-shadow: inset 0 -3px @text;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#bluetooth {
    padding: 0 20px;
    color: @text;
    background-color: @bg;
}

#bluetooth.disabled, #bluetooth.off {
    opacity: 0.5;
}

#window,
#workspaces {
    /* border-radius: 10px; */
    background-color: @bg;
}

#window {
    padding: 0 20px;
}

#workspaces {
    padding: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

If workspaces is the rightmost module, omit right margin
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
} */

#battery {
    background-color: @text;
    color: @bg;
}

#battery.charging, #battery.plugged {
    color: @text;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: @text;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: @text;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: @text;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @bg;
}

#memory {
    background-color: @bg;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @bg;
}

#network.disconnected {
    opacity: 0.5;
}

#pulseaudio {
    background-color: @bg;
}

#pulseaudio.muted {
    opacity: 0.5;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
